.house {
	/* background: rgb(243, 226, 195); */
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    
}

form {
    display: flex;
    justify-content: center;
    flex-basis: 960px;
    flex-shrink: .5;
    flex-grow: .5;
    
    
}

label {
    padding-left: 50px;
    display: flex;
    flex-basis: 270px;
    flex-grow: .15;
    flex-shrink: 0;
    justify-content: space-between;
}

.garage {
	fill: rgb(248, 246, 245);
    stroke: black;
    stroke-width: 0.5px;
   
}

.squareSpace {
	fill: silver;
	stroke: black;
	stroke-width: 1px;
}

.groundTrim {
	fill: rgb(172, 170, 170);
	stroke: black;
	stroke-width: .5px;
}

.door {
	fill: white;
	stroke: black;
}

.doorHandle {
	fill: rgb(165, 108, 42);
	stroke: black;
}

.doorOpenEdge {
    stroke-width: 0.35px;
}

line {
	stroke: black;
	stroke-width: 1px;
}

#backdrop {
    stroke: black;
}

#backbackdrop {
    stroke-width: 0.25;
}

#doorFrame, .doorOpenEdge {
    stroke: black;
}

#fishTank {
    width: 45px;
    height: 30px;
    opacity: .7;
}

#fishTable, #everlast {
    width: 45px;
    height: 35px;
    opacity: .7;
}

#hammer {
    width: 40px;
    height: 40px;
}

#saw {
    width: 60px;
}

#chainsaw {
    width: 70px;
}

#screws {
    width: 15px;
}

#tapemeasure {
    width: 22px;
}

#smallContainer {
    width: 40px;
}

.containerMount {
    stroke: red;
    stroke-width: 1.5px;
    fill: white;
    
}

#space {
    font-size: .75em;
    font-weight: bold;
}