.house {
	/* background: rgb(243, 226, 195); */
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    
}

p {
    max-width: 960px;
    min-width: 500px;
    margin-left: 10px;
    display: inline-block;
	font-family: Arial;
    font-size: 1.5em;
	color: rgb(2, 2, 95);
}

.garage {
	fill: rgb(248, 246, 245);
    stroke: black;
    stroke-width: 0.5px;
   
}

.squareSpace {
	fill: silver;
	stroke: black;
	stroke-width: 1px;
}

.groundTrim {
	fill: grey;
	stroke: black;
	stroke-width: 1px;
}

.door {
	fill: white;
	stroke: black;
}

.doorHandle {
	fill: rgb(165, 108, 42);
	stroke: black;
}

.doorOpenEdge {
    stroke-width: 0.35px;
}

line {
	stroke: black;
	stroke-width: 1px;
}

#backdrop {
    stroke: black;
}

#backbackdrop {
    stroke-width: 0.25;
}

#doorFrame, .doorOpenEdge {
    stroke: black;
}

#fishTank {
    width: 45px;
    height: 30px;
    opacity: .7;
}

#fishTable {
    width: 45px;
    height: 35px;
    opacity: .7;
}
